*
!/.gitignore
!/README.md
!/Assets/
!/Assets/**
!/Executables/
!/Executables/Setup/
!/Executables/Setup/build_installer.iss
!/Executables/Setup/license.rtf
!/Source/
!/Source/app.manifest
!/Source/App.xaml
!/Source/App.xaml.cs
!/Source/Icon1.ico
!/Source/AssemblyInfo.cs
!/Source/MainWindow.xaml
!/Source/MainWindow.xaml.cs
!/Source/TaskbarOverlayWindow.xaml
!/Source/TaskbarOverlayWindow.xaml.cs
!/Source/nuget.config
!/Source/NetMonitor.csproj
